@model ZTBL_VersionReleaseFormAutomation.Models.FormData
@using System.Web.Optimization;
@using System.Collections.Generic;

@{
    Layout = null;
}

<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="https://fonts.googleapis.com/css?family=Didact+Gothic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Old+Standard+TT" rel="stylesheet">
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
    <!-- Page level plugin CSS-->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.css")
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    @Styles.Render("~/Content/css/sb-admin.css")


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/Content/js/sb-admin-datatables.min.js"></script>
    <script src="~/Content/js/sb-admin-charts.min.js"></script>
    <script type="text/javascript">

        window.setInterval(function () {
            /// call your function here
            var txtFirstNumberValue = $("#prjname option:selected").text();
            var txtSecondNumberValue = document.getElementById('verno').value;
            if (txtFirstNumberValue == "Select Project")
                txtFirstNumberValue  = "";

            var result = txtFirstNumberValue + "-" + txtSecondNumberValue;
            document.getElementById("dte").valueAsDate = new Date();
            document.getElementById("dte").valueAsDate = new Date();
            if (txtFirstNumberValue == "" && txtSecondNumberValue == "")
                result = "";
            
            result = result.split(' ').join('');
            document.getElementById('vsslbl').value = result;

            var name = document.getElementById('nam').innerHTML;
            var deg = name.substring(name.indexOf(','), name.length);

            name = name.substring(0, name.indexOf(','));
            //var deg = name.substring(, name.indexOf(','));
            var selector;
            if (deg.match(/Team/))
            {
                selector = 'TL';
            }
            else if (deg.match(/Developer/))
            {
                selector = 'LD';
            }
            else
            {
                selector = 'Man';
            }
            document.getElementById(selector).value = name;



        }, 2000);

        
        //function sum() {
        //    var txtFirstNumberValue = document.getElementById('prjnme').value;
        //    var txtSecondNumberValue = document.getElementById('verno').value;
            

        //    var result = txtFirstNumberValue +"-"+ txtSecondNumberValue;
            
        //    if (txtFirstNumberValue == "" && txtSecondNumberValue == "")
        //        result = "";            
        //    document.getElementById('vsslbl').value = result;
            
        //}

    </script>

    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=text]').addClass('tbn');
            //$('input[type=text]').addClass('col-xs-3');
            //$('input[type=dd]').css("width","175px");
            $('input[type=date]').addClass('tbn');

            $('input[type=text]').attr('maxlength', '50');
            $('input[type=number]').attr('maxlength', '20');
        })

    </script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <img src="~/Content/logoztbl.jpg" height="50px" width="28px" style="border-radius:3px" />&nbsp;&nbsp;&nbsp;<a class="navbar-brand" href="@Url.Action("Dashboard","Home")">Version Release</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                
                @if ((ViewBag.UserRole).Contains("SDD") == true)
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreateNewForm">
                        <a class="nav-link" href="@Url.Action("CreateNewVersionRelease","Home")">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="nav-link-text">Create New Form</span>
                        </a>
                    </li>
                }
                @if ((ViewBag.UserRole).Contains("QA") == true)
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreateNewForm">
                        <a class="nav-link" href="@Url.Action("CreateBugReport","Home")">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="nav-link-text">Create Bug Report</span>
                        </a>
                    </li>
                }
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="BugReports">
                    <a class="nav-link" href="@Url.Action("BugReport","Home")">
                        <i class="fa fa-fw fa-chain-broken"></i>
                        <span class="nav-link-text">Bug Reports</span>
                    </a>
                </li>


                @if (ViewBag.UserType == "Admin")
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-table"></i>
                            <span class="nav-link-text">Admin Panel</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseComponents">
                            <li>
                                <a href="@Url.Action("AdminPanel","Home")">See Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("Register","Home")">Add New Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ManageProject","Home")">Manage Projects</a>
                            </li>
                        </ul>
                    </li>
                }

                
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                
            </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li>

                    <p style="color:white;padding-top:7px" id="nam">@ViewBag.Username, @ViewBag.UserRole </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="Content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->

            <div style="display:table;width:100%;border:solid;padding-left:10px">
                <div style="display: table-cell; width: 20%; border:thick;"><img src="~/Content/logoztbl.jpg" width="60px" height="80px" /></div>
                <div style="display: table-cell; padding-left: 130px; width: 80%;border:thick;"><legend><b style="color:maroon;">Version Release Form</b></legend></div>
            </div>


            <div class="row">
                <div class="col-lg-8">
                    <hr class="mt-2">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <!-- Example DataTables Card-->
            <div id="ff">
            @using (Ajax.BeginForm("CreateNewVersionRelease", "Home", new AjaxOptions { HttpMethod="POST", UpdateTargetId="ff"}))
            {
                @Html.AntiForgeryToken()

                <fieldset style="outline: solid; font-family: 'Didact Gothic', sans-serif; padding: 10px; margin: 0px; ">

                    <div style="display:table;width:100%;height:15px;">
                        <div style="display:table-cell;width:50%">
                            <p style="text-align:left">
                                <div style="float:left;margin-left:100px"><b>Project Name&nbsp; </b></div><br />
                                <div style="margin-left:100px;">@Html.DropDownListFor(model => model.ProjectId, (IEnumerable<SelectListItem>)ViewBag.Forms, "Select Project", new { @class = "form-control", id = "prjname", style = "width:210px;padding:0px;border-radius=0", required = "required" })
                                    @*@Html.DropDownListFor(model => model.ProjectName, new SelectList((@ViewBag.ProjectsAvailable)), "Select Project", new { @class = "form-control", id = "prjname", style = "width:210px;padding:0px;border-radius=0", required = "required" })*@
                                @*<u>@Html.TextBoxFor(model => model.ProjectName, new {id="prjname", @class = "form-control", style = "width:235px;padding:3px", placeholder = "Enter Name", required = "required" })</u></div>*@
                            </div>
                            </p>
                        </div>
                        <div style="display:table-cell;width:50%">
                            <p style="text-align:left">
                                <div style="float:left;margin-left:100px"><b>Version No&nbsp; </b></div><br />
                                <div style="margin-left:100px;"><u>@Html.TextBoxFor(model => model.VersionNo, new { id = "verno", @class = "form-control", style = "width:135px;padding:3px", type = "Number", placeholder = "Enter Number", @min = "1", @step = "0.1", required = "required" })</u></div>
                            </p>
                        </div>
                        @*<div style="display:table-cell;width:50%">
                            <p style="text-align:left">
                                <div style="float:left;margin-left:100px"><b>Version No&nbsp; </b></div>
                                <div style="float:right"><u>@Html.TextBoxFor(model => model.VersionNo, new { @class = "form-control", style = "width:135px;padding:3px", type = "Number", placeholder = "Enter Number", @min = "1", @step = "0.1", required = "required" })</u></div>
                            </p>
                        </div>*@
                        @*<div style="display:table-cell;width:50%"><p style="text-align:right"><b>Version No: </b><u>@Html.TextBoxFor(model => model.VersionNo, new { @class = "form-control",style="width:135px;padding:3px", type = "Number",placeholder="Enter Number", @min = "1", @step = "0.1", required = "required" })</u></p></div>*@
                    </div>

                    

                    <div style="display: table; width: 100%; height: 15px;">
                        <div style="display:table-cell;width:50%">
                            <p style="text-align:left">
                                <div style="float:left;margin-left:100px"><b>Version Description&nbsp; </b></div><br />
                                <div style="margin-left:100px;"><u>@Html.TextAreaFor(model => model.VersionDescription, new {id="verdes", @class = "form-control", style = "width:235px;padding:3px", placeholder = "Enter Description", required = "required" })</u></div>
                            </p>
                        </div>
                        <div style="display:table-cell;width:50%">
                            <p style="text-align:left">
                                <div style="float:left;margin-left:100px"><b>Version Date&nbsp; </b></div><br />
                                <div style="margin-left:100px;"><u>@Html.TextBoxFor(model => model.VersionDate, new { @class = "form-control", id = "dte", type = "date", style = "width:150px;padding:3px;float:left", required = "required" })</u></div>
                            </p>
                        </div>


                        @*<div style="display:table-cell;width:50%;height:15px">
                            <p style="text-align:left">
                                <div style="float:left;margin-left:100px"><b>Version Date &nbsp; </b></div><br />
                                <div style=""><u>@Html.TextBoxFor(model => model.VersionDate, new { @class = "form-control", id = "dte", type = "date", style = "width:150px;padding:3px;float:left", required = "required" })</u></div>
                            </p>
                        </div>*@
                    </div>

                        @*<div style="display: table; width: 100%; height: 15px;">
                            <div style="display:table-cell;width:50%"><p style="text-align:center"> <p style="text-align:left"><b>Version Description: </b><u>@Html.TextBoxFor(model => model.VersionDescription, new { @class = "form-control", style = "width:150px:padding:3px", placeholder = "Enter Description", required = "required" })</u></p></div>
                            <div style="display:table-cell;width:50%"><p style="text-align:center"><p style="text-align:right"><b>Version Date: </b><u>@Html.TextBoxFor(model => model.VersionDate, new { @class = "form-control", type = "date", style = "width:172px;padding:3px", required = "required" })</u></p></div>
                        </div>*@

                        <div style="display:table;width:100%;height:10px;text-align:center">
                            <div style="display:table-cell"><b>@Html.RadioButtonFor(f => f.Type, "NewProduct") New Product</b></div>
                            <div style="display:table-cell"><b>@Html.RadioButtonFor(f => f.Type, "BugFix") Bug Fix</b></div>
                            <div style="display:table-cell"><b>@Html.RadioButtonFor(f => f.Type, "Enhancement", new { @required = "required" }) Enhancement</b></div>
                        </div>
                        <br /><b>@Html.ValidationMessageFor(f => f.Type, null, new { @class = "text-danger" })</b>

                        <p style="text-align:center">


                        </p>
                        <!--   Check Application -->
                       
                    
                     <h3><u>Part 1: Development Activities</u></h3>
                        <div class="form-group" style="padding:10px">



                            @Html.CheckBoxFor(f => f.SFLandRFLisAttached)

                            "Software Feature List" and "Released Files List" is attached.<br />



                            @Html.CheckBoxFor(f => f.CpybaselineProvided)

                            Copy of baseline document (i.e. RSD, User Request etc) is provided.<br />


                            @Html.CheckBoxFor(f => f.RelFoldersLabeled)

                            Released related folders/files have been labeled in VSS. ( VSS Label):
                            @Html.TextBoxFor(f => f.VSSLabel, new { id = "vsslbl", style = "height:19px" })<br />



                            @Html.CheckBoxFor(f => f.RelFilesPlaced)

                            The Released Files are placed at location <u>\\CMS\Deployment-SDD\</u>
                            @Html.TextBoxFor(f => f.RelFilesLocation, new { style = "height:19px" }) <br />


                            @Html.CheckBoxFor(f => f.UnitTestingDone)

                            Unit Testing Done. <br />


                            @Html.CheckBoxFor(f => f.CodingStdFollowed)
                            
                            Coding Guidelines/standards followed.<br />


                            
                            <br /><br />



                            <b>Comments:</b><br />
                            <div style="width:100%;display:table">
                                <div style="display:table-cell">
                                    <center><b><u>Lead Developer</u></b> </center>         <br />
                                    <center>

                                        @Html.CheckBoxFor(f => f.LeadDeveloperSign_SDD, (ViewBag.UserRole).Contains("Developer") && (ViewBag.UserRole).Contains("SDD") ? new { } : (object)new { @disabled = "disabled" })

                                        Lead Developer Sign. <br />
                                        @Html.TextBoxFor(f => f.LeadDeveloperName_SDD, (ViewBag.UserRole).Contains("Developer") && (ViewBag.UserRole).Contains("SDD") ? new { placeholder = "Name (Lead Developer)", id = "LD" } : (object)new { placeholder = "Name (Lead Developer)", id = "LD", @disabled = "disabled" })
                                    </center>
                                </div>
                                <div style="display:table-cell">
                                    <center><b><u>Unit Incharge</u></b>  </center>        <br />
                                    <center>

                                        @Html.CheckBoxFor(f => f.UnitInchargeSign_SDD, (ViewBag.UserRole).Contains("Team") && (ViewBag.UserRole).Contains("SDD") ? new { } : (object)new { @disabled = "disabled" })
                                        Unit Incharge Sign. <br />

                                        @Html.TextBoxFor(f => f.UnitInchargeName_SDD, (ViewBag.UserRole).Contains("Team") && (ViewBag.UserRole).Contains("SDD") ? new { placeholder = "Name (Unit Incharge)", id = "TL" } : (object)new { placeholder = "Name (Unit Incharge)", id = "TL", @disabled = "disabled" })
                                    </center>

                                </div>

                                <div style="display:table-cell">
                                    <center><b><u>Department Head</u></b></center>          <br />
                                    <center>

                                        @Html.CheckBoxFor(f => f.DepartmentHeadSign_SDD, (ViewBag.UserRole).Contains("Manager") && (ViewBag.UserRole).Contains("SDD") ? new { } : (object)new { @disabled = "disabled" })
                                        Department Head Sign. <br />

                                        @Html.TextBoxFor(f => f.DepartmentHeadName_SDD, (ViewBag.UserRole).Contains("Manager") && (ViewBag.UserRole).Contains("SDD") ? new { placeholder = "Name (Department Head)", id = "Man" } : (object)new { placeholder = "Name (Department Head)", id = "Man", @disabled = "disabled" })
                                    </center>
                                </div>

                            </div>
                            <br />

                            <b>Date:</b>  @Html.TextBoxFor(f => f.DateAndTime_SDD, new { type = "date" })
                            @*<input type="date" placeholder="@DateTime.Now.ToString("yyyy-mm-dd")" /><br />*@
                            
                        </div>
                        <br /><br />
                        <!--   Check appliation-->
                        <h3><u>Part 2: QA Activities</u></h3>
                        <div class="form-group" style="padding:10px">

                            @*@Html.ActionLink("Create Bug Report", "CreateBugReport", new { formIdBugReport = ViewBag.formId})*@
                            <br />


                            @Html.CheckBoxFor(f => f.DiscoveredBugsReported, new { disabled = "true" })

                            Discovered bugs have been reported vide bug Report No. @Html.TextBoxFor(f => f.DiscoveredBugsReportedRepNo, new { style = "height:19px", disabled = "true" })<br />

                            @Html.CheckBoxFor(f => f.QATeamSatisfied, new { disabled = "true" })

                            QA team satisfied with this release.<br />


                            Software Stability: [        @Html.RadioButtonFor(f => f.SWStabilityComment_QA, "RequiresAnotherCycle", new { disabled = "true" }) Requires Another QA Cycle  @Html.RadioButtonFor(f => f.SWStabilityComment_QA, "Deployable", new { disabled = "true" })  Deployable ]
                            <br /><br /><br />


                            <b>Comments:</b><br />

                            <div style="width:100%;display:table">
                                <div style="display:table-cell">
                                    <center><b><u>QA Lead</u></b></center>          <br />    <center>

                                        @Html.CheckBoxFor(f => f.LeadSign_QA, new { disabled = "true" })

                                        QA Lead Sign. <br />
                                        @Html.TextBoxFor(f => f.LeadName_QA, new { placeholder = "Name (QA Lead)", disabled = "true" })
                                    </center>
                                </div>
                                <div style="display:table-cell">
                                    <center><b><u>QA Manager</u></b></center>          <br />    <center>


                                        @Html.CheckBoxFor(f => f.ManagerSign_QA, new { disabled = "true" })
                                        QA Manager Sign. <br />
                                        @Html.TextBoxFor(f => f.ManagerName_QA, new { placeholder = "Name (QA Manager)", disabled = "true" })
                                    </center>
                                </div>



                            </div>


                            <br />
                            Date: @Html.TextBoxFor(f => f.DateAndTime_QA, new { type = "date", disabled = "true" })


                            <br />

                            
                        </div>

                        <!--  Check Application  -->

                        <h3><u>Part 3: Deployment Activites</u></h3>
                        <div class="form-group" style="padding:10px">


                            @Html.CheckBoxFor(f => f.FilesCopiedToDestination_Deployment, new { disabled = "true" })

                            All files mentioned in 'Released Files List' have been copied to the destination.<br />


                            @Html.CheckBoxFor(f => f.FilesExecuted_Deployment, new { disabled = "true" })

                            Files requiring execution as mentioned in the 'Release Files List' has been executed.<br />

                            Deployed Succesfully: <br /><br />
                            <b>Production</b>   @Html.RadioButtonFor(f => f.Production_Deployment, "Yes", new { disabled = "true" })  Yes  @Html.RadioButtonFor(f => f.Production_Deployment, "No", new { disabled = "true" })  No<br />
                            <b>Failover Site</b>                   @Html.RadioButtonFor(f => f.FailoverSite_Deployment, "Yes", new { disabled = "true" })  Yes @Html.RadioButtonFor(f => f.FailoverSite_Deployment, "No", new { disabled = "true" })  No
                            <br /><br /><br />

                            <b>Comments:</b><br />


                            <div style="width:100%;display:table">
                                <div style="display:table-cell">
                                    <center><b><u>Deployed By</u></b></center>          <br />    <center>

                                        @Html.CheckBoxFor(f => f.DeployedBySign_Deployment, new { disabled = "true" })

                                        Deployed by's Sign. <br />
                                        @Html.TextBoxFor(f => f.DeployedByName_Deployment, new { placeholder = "Name (Deployed By)", disabled = "true" })
                                    </center>
                                </div>
                                <div style="display:table-cell">
                                    <center><b><u>Unit In-charge</u></b></center>          <br />    <center>

                                        @Html.CheckBoxFor(f => f.UnitInchargeSign_Deployment, new { disabled = "true" })

                                        Unit In-charge Sign. <br />
                                        @Html.TextBoxFor(f => f.UnitInchargeName_Deployment, new { placeholder = "Name (Unit Incharge)", disabled = "true" })
                                    </center>

                                </div>

                                <div style="display:table-cell">
                                    <center><b><u>Department Head</u></b></center>          <br />    <center>

                                        @Html.CheckBoxFor(f => f.DepartmentHead_Deployment_Sign, new { disabled = "true" })

                                        Department Head Sign. <br />
                                        @Html.TextBoxFor(f => f.DepartmentHead_Deployment_Name, new { placeholder = "Name (Department Head)", disabled = "true" })
                                    </center>
                                </div>

                            </div>

                            <br />

                            Date: @Html.TextBoxFor(f => f.DateAndTime_Deployment, new { type = "date", @disabled = "disabled" })

                            <br /><br />

                            
                            @*@Html.ActionLink("Features List", "FeaturesListPage")<br />
                            @Html.ActionLink("Relesed Files", "ReleasedFilesPage")*@
                        </div>
                        @if (ViewBag.isBugReport == "yes")
{

}
else
{
    <center><button type="submit" class="btn btn-outline-success" style="width:120px">Save</button></center>
}
</fieldset>

            }
                </div>

        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © ZTBL 2017</small>
                </div>
            </div>
        </footer>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-Content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Logout","Home")">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->

    </div>
</body>

</html>
