@model ZTBL_VersionReleaseFormAutomation.Models.User
@using System.Web.Optimization
@{
    ViewBag.Title = "Register";
}
@using System.Collections.Generic
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>SB Admin - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS-->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    @Styles.Render("~/Content/vendor/bootstrap/css/bootstrap.min.css")
    <!-- Custom fonts for this template-->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">*
    @Styles.Render("~/Content/vendor/font-awesome/css/font-awesome.min.css")
    <!-- Page level plugin CSS-->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    @Styles.Render("~/Content/vendor/datatables/dataTables.bootstrap4.css")
    <!-- Custom styles for this template-->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
    @Styles.Render("~/Content/css/sb-admin.css")

    @Styles.Render("~/Content/vendor/bootstrap/css/custom.css")


    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Core plugin JavaScript-->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <!-- Page level plugin JavaScript-->
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for all pages-->
    <script src="~/Content/js/sb-admin.min.js"></script>
    <!-- Custom scripts for this page-->
    <script src="~/Content/js/sb-admin-datatables.min.js"></script>
    <script src="~/Content/js/sb-admin-charts.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('input[type=text]').addClass('tbn');
            $('input[type=date]').addClass('tbn');
            $('textarea').addClass('tbn');
            $('').css('color', 'red');
            $('input[type=text]').attr('maxlength', '25')
        })
    </script>
    <script>
        function maxLengthCheck(object) {
            if (object.value.length > object.maxLength)
                object.value = object.value.slice(0, object.maxLength)
        }

    </script>
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <img src="~/Content/logoztbl.jpg" height="50px" width="28px" style="border-radius:3px" />&nbsp;&nbsp;&nbsp;<a class="navbar-brand" href="@Url.Action("Dashboard","Home")">Version Release</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Dashboard","Home")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Dashboard</span>
                    </a>
                </li>
                
                @if ((ViewBag.UserRole).Contains("SDD") == true)
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreateNewForm">
                        <a class="nav-link" href="@Url.Action("CreateNewVersionRelease","Home")">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="nav-link-text">Create New Form</span>
                        </a>
                    </li>
                }
                @if ((ViewBag.UserRole).Contains("QA") == true)
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="CreateNewForm">
                        <a class="nav-link" href="@Url.Action("CreateBugReport","Home")">
                            <i class="fa fa-fw fa-book"></i>
                            <span class="nav-link-text">Create Bug Report</span>
                        </a>
                    </li>
                }
                
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="BugReports">
                    <a class="nav-link" href="@Url.Action("BugReport","Home")">
                        <i class="fa fa-fw fa-chain-broken"></i>
                        <span class="nav-link-text">Bug Reports</span>
                    </a>
                </li>


                @if (ViewBag.UserType == "Admin")
                {
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Components">
                        <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                            <i class="fa fa-fw fa-table"></i>
                            <span class="nav-link-text">Admin Panel</span>
                        </a>
                        <ul class="sidenav-second-level collapse" id="collapseComponents">
                            <li>
                                <a href="@Url.Action("AdminPanel","Home")">See Users</a>
                            </li>
                            <li>
                                <a href="">Add New Users</a>
                            </li>
                            <li>
                                <a href="@Url.Action("ManageProject","Home")">Manage Projects</a>
                            </li>
                        </ul>
                    </li>
                }

                
            </ul>
            <ul class="navbar-nav sidenav-toggler">
               
            </ul>
            <ul class="navbar-nav ml-auto">
                
                <li class="nav-item">
                    <form class="form-inline my-2 my-lg-0 mr-lg-2">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
                        </div>
                    </form>
                </li>
                <li>

                    <p style="color:white;padding-top:7px">@ViewBag.Username, @ViewBag.UserRole </p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-toggle="modal" data-target="#exampleModal">
                        <i class="fa fa-fw fa-sign-out"></i>Logout
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="Content-wrapper">
        <div class="container-fluid">
            <!-- Breadcrumbs-->

            <div class="row">
                <div class="col-lg-8">
                    <hr class="mt-2">
                </div>
                <div class="col-lg-4">
                </div>
            </div>
            <div style="width:100%">
                <p style="font-size:35px;color:maroon"><b>Create New User</b></p>
                
                    <form method="post">


                        <div style="display:table;width:100%;padding:30px">
                            <div style="display:table-row">
                                <div style="display:table-cell;width:15%;"><b> @Html.Label("Name")</b> </div>
                                <div style="display:table-cell;width:50%">@Html.TextBoxFor(model => model.Name, new { @required = "required", style = "width:200px",maxlength="25", placeholder = "Enter Name" })<x style="color:red">*</x></div>
                            </div>@Html.ValidationMessageFor(model => model.Name, null, new { @class="text-danger"})
                            <div style="display:table-row">
                                <div style="display: table-cell; width: 15%; "><b> @Html.Label("PP Number")</b> </div>
                                <div style="display:table-cell;width:50%">@Html.TextBoxFor(model => model.PPNumber, new { id = "pp", @required = "required", style = "width:200px", oninput = "maxLengthCheck(this)", onkeydown = "javascript: return event.keyCode == 69 ? false : true", type = "number", min = "10000", max = "999999", maxlength = "6", @class = "tbn", placeholder = "Enter PP Number" })<x style="color:red">*</x></div></div>
                            @Html.ValidationMessageFor(model => model.PPNumber)
                            <div style="display:table-row">
                                <div style="display:table-cell;width:15%"> <b> @Html.Label("Email")</b> </div>
                                <div style="display:table-cell;width:50%;">@Html.TextBoxFor(model => model.Email, new { @class = "tbn", type = "email", maxlength = "25", @required = "required", style = "width:200px", placeholder = "Enter Email" })<x style="color:red">*</x></div></div>
                           @Html.ValidationMessageFor(model => model.Email)
                             <div style="display:table-row">
                                <div style="display:table-cell;width:15%;"><b> @Html.Label("Password")</b> </div>
                                <div style="display:table-cell;width:50%">@Html.TextBoxFor(model => model.Password, new { @class = "tbn", @required = "required", maxlength = "12", style = "width:200px", placeholder = "Enter Password", type = "password" })<x style="color:red">*</x></div></div>
                          @Html.ValidationMessageFor(model=>model.Email)
                              <div style="display:table-row">
                                <div style="display: table-cell; width: 15%;"><b> @Html.Label("Designation")</b> </div>
                                <div style="display:table-cell;width:50%">@Html.DropDownListFor(model => model.Designation, new List<SelectListItem> {
                                                                                new SelectListItem { Value = "OG-III" , Text = "OG-III" },
                       new SelectListItem { Value = "OG-II" , Text = "OG-II" },
                       new SelectListItem { Value = "OG-I" , Text = "OG-I"},
                       new SelectListItem { Value = "AVP" , Text = "AVP" },
                       new SelectListItem { Value = "VP" , Text = "VP" },
                       new SelectListItem { Value = "SVP" , Text = "SVP" },
                       new SelectListItem { Value = "EVP" , Text = "EVP" }
                    }, new { @class = "tbn", style = "width:200px" })</div></div>
                            <div style="display:table-row">
                                <div style="display:table-cell;width:15%;"><b> @Html.Label("User Type")</b> </div>
                                <div style="display:table-cell;width:50%">@Html.RadioButtonFor(f => f.UserType, "Admin", new { @required = "required" }) Admin   @Html.RadioButtonFor(f => f.UserType, "User") User</div>
                         @Html.ValidationMessageFor(model=>model.UserType)
                               </div><div style="display:table-row">
                                <div style="display:table-cell;width:15%"> <b> @Html.Label("UserRole")</b> </div>
                                <div style="display:table-cell;width:50%;">@Html.DropDownListFor(model => model.UserRole, new List<SelectListItem> {
                       new SelectListItem { Value = "Manager(SDD)" , Text = "Manager(SDD)" },
                       new SelectListItem { Value = "Manager(QA)" , Text = "Manager(QA)" },
                       new SelectListItem { Value = "Manager(Operations)" , Text = "Manager(Operations)" },
                       new SelectListItem { Value = "Team Lead(SDD)" , Text = "Team Lead(SDD)" },
                       new SelectListItem { Value = "Team Lead(QA)" , Text = "Team Lead(QA)" },
                       new SelectListItem { Value = "Team Lead(Operations)" , Text = "Team Lead(Operations)" },
                       new SelectListItem { Value = "Lead Developer(SDD)" , Text = "Lead Developer(SDD)" }
                    }, new { @class = "tbn", style = "width:200px", @required = "required" })</div>
                            </div>
                            @Html.ValidationMessageFor(model=>model.UserRole)


                       </div>

                        <center><input type="submit" value="Create" class="btn btn-outline-success" style="width:120px;" /></center>

                        
                        @*@Html.DropDownListFor(model => model.PPNumber, (IEnumerable<SelectListItem>)ViewBag.Users, "Select User")*@

                        @*<b>@Html.LabelFor(model => model.Name)</b> @Html.TextBoxFor(model => model.Name, new { @class = "form-control",placeholder="Enter name",style="width:250px", @required="required",type = "text"})<br />
                        @Html.ValidationMessageFor(model => model.Name, null, new { @class="Text-danger"})
                        <b> @Html.LabelFor(model => model.PPNumber)</b>@Html.TextBoxFor(u => u.PPNumber, new { id = "pp", type = "number", style = "width:150px", placeholder = "Enter Number", @required = "required", @class = "form-control", @min = "1", @max = "99999", maxlength = "5", oninput = "maxLengthCheck(this)" })
                        @Html.ValidationMessageFor(model => model.PPNumber, null, new { @class="Text-danger"})<br />
                        <b> @Html.LabelFor(model => model.Email)</b> @Html.TextBoxFor(model => model.Email, new { @class = "form-control", type = "Email", style = "width:250px", @required = "required", placeholder = "Enter Email" })
                        @Html.ValidationMessageFor(model => model.Email)<br />
                        <b>@Html.LabelFor(model => model.Password)</b>  @Html.TextBoxFor(model => model.Password, new { @class = "form-control", placeholder = "Enter Password", @required = "required", style = "width:250px", type = "Password" })
                        @Html.ValidationMessageFor(model => model.Password)<br />
                        <b>@Html.LabelFor(model => model.Designation)</b> <br /> @Html.DropDownListFor(model => model.Designation, new List<SelectListItem> {*@
                      
                                                                                @*new SelectListItem { Value = "OG-III" , Text = "OG-III" },
                       new SelectListItem { Value = "OG-II" , Text = "OG-II" },
                       new SelectListItem { Value = "OG-I" , Text = "OG-I"},
                       new SelectListItem { Value = "AVP" , Text = "AVP" },
                       new SelectListItem { Value = "VP" , Text = "VP" },
                       new SelectListItem { Value = "SVP" , Text = "SVP" },
                       new SelectListItem { Value = "EVP" , Text = "EVP" }
                    }, new { @class = "form-control", style="width:250px" })<br /><br />
                        <b>@Html.LabelFor(model => model.UserType)</b> <br /> @Html.RadioButtonFor(f => f.UserType, "Admin", new { @required = "required"}) Admin   @Html.RadioButtonFor(f => f.UserType, "User") User<br />
                        @Html.ValidationMessageFor(model => model.UserType, null, new { @class="Text-danger"})                    
                        <br /><b>@Html.LabelFor(model => model.UserRole)</b> 
                        @Html.DropDownListFor(model => model.UserRole, new List<SelectListItem> {
                       new SelectListItem { Value = "Manager(SDD)" , Text = "Manager(SDD)" },
                       new SelectListItem { Value = "Manager(QA)" , Text = "Manager(QA)" },
                       new SelectListItem { Value = "Manager(Operations)" , Text = "Manager(Operations)" },
                       new SelectListItem { Value = "Team Lead(SDD)" , Text = "Team Lead(SDD)" },
                       new SelectListItem { Value = "Team Lead(QA)" , Text = "Team Lead(QA)" },
                       new SelectListItem { Value = "Team Lead(Operations)" , Text = "Team Lead(Operations)" },
                       new SelectListItem { Value = "Lead Developer(SDD)" , Text = "Lead Developer(SDD)" }
                    }, new { @class = "form-control", style = "width:250px", @required = "required"})<br />
                        @Html.ValidationMessageFor(model => model.UserRole, null, new { @class="text-danger"})
                        <input type="submit" value="Create" class="btn-success"/>*@

                    </form>
               
            </div>

            <!-- Example DataTables Card-->
        </div>
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © Your Website 2017</small>
                </div>
            </div>
        </footer>
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-Content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Logout","Home")">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->

    </div>
</body>

</html>


